<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{  url_for('static', filename='dangnhap.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="content">
<div class="container">
    <form action="http://localhost:5000/ketqua" method="post">
       <p style="color: #eee; text-align: center; font-size: 35px;">WELCOME</p>
		<div id="nd">
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form[username]}}">
        </div>
        <div class="form-group">
           <input type="password" class="form-control"  placeholder="Password" name="password"
                   value="{{request.form[password] }}">
        </div>
		</div>
		<div id="btn">
        	<input class="btn btn-success" type="submit" value="Login">
			<input class="btn btn-cancel" type="submit" value="Cancel">

		</div>
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> </p> {{ error }}
        {% endif %}
</div>
	</div>
</body>
</html>
